*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #ffffff; /* Light cream (easy on the eyes) */
  --button-color: rgb(255, 236, 168); /* Warm brown-red (for buttons) */
  --button-text-color: #000000; /* White (button text stands out) */
  --bgc-purple: rgb(192, 161, 239);
  --button-box-shadow: 3px 3px 0 black;
  --header-height: 16dvh;
  --content-height: calc(100dvh - var(var(--header-height)));
  --font-stack: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--bgc-purple);
  display: flex;
  flex-direction: column;
  font-family: var(--font-stack);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background-color: var(--background-color);
  img {
    margin-right: 30%;
    margin-left: 1rem;
  }
}

nav {
  margin-right: 16px;
  display: flex;
  gap: 10px;
  width: min(70%, 300px);

  button {
    width: 33.33%;
  }
}
button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  border: 2px solid black;
  font-weight: bold;
}

#content {
  max-height: var(--content-height);
  padding: 0.8rem;
  display: flex;
}
